.localization-container {
    @include center-in-box;

    background: color($tertiary, light);
    position:relative;
    z-index: -1;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include desktop-only {
        padding-top: 1rem * $coeff;
        padding-bottom: 1rem * $coeff;
    }
}

.localization {

    &__select {
        outline: 0;
        border: none;
        background: transparent;
        appearance: none;
        font-weight: bold;
    }

    &__icon {
        margin-right: 1rem;
        font-size: 1.1rem;
    }
}