.steps {
    margin-left: math.div($icon-size, 2);
}

.step {
    position: relative;
    height: $box-height;
    background-color: color($tertiary, xlight);
    font-weight: bold;
    justify-content: flex-start;
    @include shadow($size: 5px, $bg-color: white);
    @include step-number(3);

    &__icon {
        margin-left: $icon-size + math.div($icon-size, 2);
    }

    &__text {
        color: $text-color;
        margin-left: $icon-size;
    }

    &:hover {
        &.step--enable {
            color: color($primary);
            background-color: color($secondary, xlight);
        }
    }
}