#menu {
    position: relative;
    top: -$menu-corner;
    border-top-left-radius: $menu-corner;
    border-top-right-radius: $menu-corner;
    background-color: color($tertiary, xlight);
    padding: 1.5rem $side-padding;
    margin-bottom: -$menu-corner;
}

.menu-heading {

    @include center-in-box;
    flex-direction: row;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
    }
}

.menu-section {
    padding: 1rem 0;

    &:last-of-type {
        padding-bottom: 2rem;
    }

    &__title {
        font-weight: normal;
        font-size: 1rem;
        position: relative;
        margin-bottom: 1.5rem;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            width: 15%;
            border-bottom: 2px solid color($tertiary); 
        }
    }

    .card:last-child {
        margin-bottom: 0;
    }
}

.order-action {
    @include center-in-box;
    padding-bottom: 1rem;
}