.menu-container {
    position: relative;
    top: -$menu-corner;
    border-top-left-radius: $menu-corner;
    border-top-right-radius: $menu-corner;
    background-color: color($tertiary, xlight);
    margin-bottom: -$menu-corner;

    @include tablet-desktop {
        @include shadow;
        margin: 0 auto;
    }

    @include tablet-only {
        width: 60%;
        border-radius: $menu-corner;
    }

    @include desktop-only {
        width: 50%;
        max-width: $max-width-main;
        top: -($menu-corner * $coeff);
        border-radius: $menu-corner * $coeff;
    }
}

#menu {
    padding: 1.5rem $side-padding;
    margin: 0 auto;
}

.menu-heading {
    @include center-in-box;

    flex-direction: row;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;

        @include desktop-only {
            font-size: 1.5rem * $coeff;
        }
    }
}

.menu-section {
    @include display-menu-animation;

    opacity: 0;
    padding: 1rem 0;

    &:last-of-type {
        padding-bottom: 2rem;
    }

    &__title {
        
        font-weight: normal;
        font-size: 1rem;
        position: relative;
        margin-bottom: 1.5rem;

        @include desktop-only {
            font-size: 1rem * $coeff;
            margin-bottom: 1.5rem * $coeff;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            width: 15%;
            border-bottom: 2px solid color($tertiary);

            @include desktop-only {
                width: 5%;
                border-bottom: (2px * $coeff) solid color($tertiary);
            }
        }
    }

    &__content {
        opacity: 0;
    }

    .card:last-child {
        margin-bottom: 0;
    }
}

.order-action {
    @include center-in-box;
    padding-bottom: 1rem;
}