.menu-container {
    position: relative;
    top: -$menu-corner;
    border-top-left-radius: $menu-corner;
    border-top-right-radius: $menu-corner;
    background-color: color($background);
    margin-bottom: -$menu-corner;

    @include tablet-desktop {
        @include shadow;
        margin: 0 auto;
    }

    @include tablet-only {
        width: 60%;
        border-radius: $menu-corner;
    }

    @include desktop-only {
        width: 50%;
        max-width: $max-width-main;
        top: -($menu-corner * $coeff);
        border-radius: $menu-corner * $coeff;
    }
}

#menu {
    padding: 1.5rem $side-padding;
    margin: 0 auto;
}

.menu-heading {
    @include center-in-box;

    flex-direction: row;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;

        @include desktop-only {
            font-size: 1.5rem * $coeff;
        }
    }
}

.menu-section {
    @include display-menu-animation;

    position: relative;
    opacity: 0;
    padding: 1rem 0;

    &:last-of-type {
        padding-bottom: 2rem;
    }

    &__title {
        font-weight: normal;
        font-size: 1rem;
        position: relative;
        margin-bottom: 1.5rem;

        @include desktop-only {
            font-size: 1rem * $coeff;
            margin-bottom: 1.5rem * $coeff;
        }

        //Pseudo element for add a little line under title section menu
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            width: 15%;
            border-bottom: 2px solid color($tertiary);

            @include desktop-only {
                width: 5%;
                border-bottom: (2px * $coeff) solid color($tertiary);
            }
        }
    }

    &__content {
        @include card-style;
        
        height: $box-height;
        overflow: hidden;
        opacity: 0;
        flex-direction: row;
        padding: 0.7rem 1rem 0.7rem 1rem;
        box-sizing: border-box;
        cursor: pointer;

        @include desktop-only {
            padding-top: 0.8rem * $coeff;
            padding-bottom: 0.8rem * $coeff;
            height: $box-height * $coeff;
        }
        
        &:last-child {
            margin-bottom: 0;
        }

        //Pseudo element for check icon which is hide befor a user action (click on menu item)
        &::before {
            content: "\f058";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            z-index: 20;
            font-size: $icon-size;
            color: white;
            right: calc(math.div($box-height,2) - math.div($icon-size, 2));
            transform: translateX($box-height + $icon-size) rotate(-360deg);
            transition: transform 0.5s ease-out;

            @include desktop-only {
                font-size: $icon-size * $coeff;
                right: calc(math.div($box-height * $coeff, 2) - math.div($icon-size * $coeff, 2));
            }
        }

        //Pseudo element for background of the check icon (::before)
        &::after {
            content: '';
            z-index: 10;
            position: absolute;
            right: 0;
            width: $box-height;
            height: $box-height;
            background-color: color($tertiary);
            transform: translateX($box-height);
            transition: transform 0.5s;

            @include desktop-only {
                height: $box-height * $coeff;
                width: $box-height * $coeff;
                transform: translateX($box-height * $coeff);
            }
        }

        &:hover {
            &::before {
                transform: translateX(0);
            }

            &::after {
                transform: translateX(0);
            }

            .menu-section__price {
                width: $box-height*2;
                transform: translateX(-$box-height);
                transition: transform 0.5s, width 0.5s;

                @include desktop-only {
                    width: $box-height;
                    transform: translateX(-$box-height * $coeff);
                    transition: transform 0.5s;
                }
            }
        }
    }

    &__details {
        @include center-in-box;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 2;
        justify-content: space-between;
        align-items: flex-start;
        transition: width 0.5s;
    }

    &__subtitle {
        @include dots;
        margin: 0;
    }

    &__text {
        @include dots;
        margin: 0;
    }

    &__price {
        width: $box-height;
        text-align: right;
        align-self: flex-end;
        font-weight: bold;
        margin: 0;
        transform: translateX(0);
        transition: transform 0.5s, width 0.5s;

        @include desktop-only {
            font-size: $text-size * $coeff;
        }
    }
}

.order-action {
    @include center-in-box;
    padding-bottom: 1rem;
}

