#menu-banner {
    padding: 0;

    img {
        object-fit: cover;
        width: 100%;
        height: $menu-banner-height;

        @include desktop-only {
            height: 50vh;
        }
    } 
}