//Function for calculate all colors lights
@function color($color, $light: normal) {
    $map: (normal: $color,
            light: lighten($color, 15%),
            xlight: lighten($color, 20%),
            dark: darken($color, 20%),
            sdark: darken($color, 10%),
            xdark: darken($color, 40%));
    @return map-get($map, $light);
}