
@mixin shadow($size: 5px, $bg-color: $tertiary, $color: $tertiary) {
    @if (lightness($bg-color) > lightness($color)) {
        box-shadow: 0px $size ($size+3) color($color, light);
    } @else {
        box-shadow: 0px $size ($size+3) color($color, sdark);
    }
    
}

//Center all elements in the box
@mixin center-in-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//flex and between
@mixin flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Generate pseudo element ::before for number of step
@mixin step-number($number) {
    @for $i from 1 through $number {
        &.step-#{$i}::before {
            content: "#{$i}";
            position: absolute;
            left: -(math.div($icon-size, 2));
            background: color($primary);
            width: $icon-size;
            height: $icon-size;
            border-radius: 100%;
            text-align: center;
            line-height: $icon-size;
            color: color($tertiary, light);
        }
    }
}

//Button like
@mixin like-enable {
    z-index: 20;
    color: color($primary);
}
