#footer-container {
    @include center-in-box;
    align-items: flex-start;
    background-color: $footer-bg;
    color: $footer-text;
    padding: 1rem $side-padding;
}

.footer-links {
    
    &__item {
        margin-bottom: 0.6rem;

        i {
            width: 1rem;
            padding-right: 0.5rem;
        }

        a {
            color: inherit;
        }

        &--highlight {
            font-weight: bold;
        }
    }
}