#header-container {
    @include shadow($size: 3px);
    
    width: 100%;
    height: $box-height;

    @include desktop-only {
        height: $box-height * $coeff;
    }
}

.header {
    @include center-in-box;

    &__logo {
        position: relative;
        display: block;
        width: $logo-size;

        @include desktop-only {
            width: $logo-size * $coeff;
        }
    }

    &__back {
        position: absolute;
        left: 10px;

        @include desktop-only {
            left: 30px;
            font-size: $text-size * $coeff;
        }
    }
}