#header-container {
    width: 100%;
    height: $box-height;
    @include shadow($size: 3px);
}

.header {
    @include center-in-box;

    &__logo {
        position: relative;
        display: block;
        width: 150px;
    }

    &__back {
        position: absolute;
        left: 10px; 
    }
}